[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=usman
Group=usman
WorkingDirectory=/home/usman/app/src/
Environment="PATH=/home/usman/app/venv/bin"
EnvironmentFile=/home/usman/.env
ExecStart=/home/usman/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target